{
    "versions": {
        "github-releases-ms": {
            "_id": "github-releases-ms",
            "name": "github-releases-ms",
            "versions": {
                "0.5.0": {
                    "version": "0.5.0",
                    "dist": {
                        "tarball": "http://localhost:3000/local/github-releases-ms-0.5.0.tgz"
                    }
                }
            },
            "time": {
                "modified": "1999-12-31T23:59:59.000Z",
                "0.5.0": "1999-12-31T23:59:59.000Z",
                "created": "1999-12-31T23:59:59.000Z"
            }
        }
    },
    "files": {
        "github-releases-ms/-/github-releases-ms-0.5.0.tgz": "github-releases-ms-0.5.0.tgz",
    }
}